.container {
  max-width: 1646px;
  width: 100%;
  margin: 0 auto;
}

.overlay {
  display: block;
  position: fixed;
  z-index: 9;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #333333;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  opacity: 0;
  pointer-events: none;
}

.overlay.active {
  opacity: 0.8;
  pointer-events: all;
}

* {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  border: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  color: #000000;
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.01em;
}

nav,
footer,
header,
aside {
  display: block;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

button {
  cursor: pointer;
}

button:focus,
input:focus,
a:focus,
textarea:focus {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

.header {
  width: 100%;
  background-color: #333333;
  position: fixed;
  z-index: 8;
}

.header__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 56px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo a img {
  width: 58px;
  height: 35px;
}

.header__nav-link {
  color: #ffffff;
  margin: 0px 50px 0px 0px;
}

.header__nav-link:last-child {
  margin: 0px 0px 0px 0px;
}

.header__phone-link {
  color: #ffffff;
}

.intro {
  position: relative;
  background: #BDBDBD url("../img/intro-min.png") center center no-repeat;
  width: 100%;
  height: 850px;
  color: #ffffff;
}

.intro__covid {
  position: absolute;
  top: 56px;
  left: 0;
  width: 100%;
  height: 56px;
  background: #157DFB;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro__covid-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-decoration: underline;
  color: #FFFFFF;
  cursor: pointer;
}

.intro__wrapper {
  max-width: 690px;
  margin: auto;
  text-align: center;
}

.intro__title {
  padding: 217px 0px 0px 0px;
  display: block;
  font-weight: 500;
  font-size: 55px;
  line-height: 75px;
}

.intro__subtitle {
  margin: 11px 0px 0px 0px;
  display: block;
  font-weight: 300;
  font-size: 35px;
  line-height: 48px;
}

.intro__btn {
  margin: 42px auto 22px auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 150px;
  height: 55px;
  color: #ffffff;
  background-color: #157DFB;
  -webkit-border-radius: 10px;
          border-radius: 10px;
}

.intro__link {
  letter-spacing: -0.01em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #157DFB;
}

.breadcrumb {
  padding: 56px 0px 0px 0px;
  border-bottom: 0.5px solid #C4C4C4;
}

.breadcrumb__wrapper {
  height: 56px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.breadcrumb__link {
  margin: 0px 0px 0px 35px;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #606060;
}

.naprawa {
  margin: 100px 0px 0px 0px;
  text-align: center;
}

.naprawa__card-wrapper {
  max-width: 1117px;
  margin: 82px auto 0px auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[5];
      grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 150px;
  grid-row-gap: 102px;
  -webkit-box-align: end;
  -webkit-align-items: end;
      -ms-flex-align: end;
          align-items: end;
}

.naprawa__title {
  margin: 0px 0px 12px 0px;
  font-weight: normal;
  font-size: 35px;
  line-height: 48px;
}

.naprawa__subtitle {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #888888;
}

.naprawa_card:hover .naprawa__name {
  text-decoration: underline;
}

.naprawa__name {
  margin: 42px 0px 0px 0px;
  color: #000000;
}

.device_item {
  text-align: center;
  margin: 0px 100px 0px 0px;
}

.device_item:last-child {
  margin: 0px 0px 0px 0px;
}

.device_item img {
  margin: 0px 0px 20px 0px;
}

.device_item p {
  color: #000000;
}

.device_item:hover p {
  text-decoration: underline;
}

.device__title {
  margin: 150px 0px 90px 0px;
  text-align: center;
  font-weight: normal;
  font-size: 35px;
  line-height: 48px;
}

.device__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.feedback_card {
  text-align: center;
  max-width: 398px;
  margin: 0px 90px 0px 0px;
}

.feedback_card:last-child {
  margin: 0px 0px 0px 0px;
}

.feedback__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.feedback svg {
  margin: 0px 0px 32px 0px;
}

.feedback__title {
  margin: 0px 0px 12px 0px;
}

.feedback__description {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}

.feedback__link {
  display: block;
  text-align: center;
  margin: 32px 0px 150px 0px;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-decoration: underline;
  color: #157DFB;
  cursor: pointer;
}

.footer {
  padding: 138px 0px;
  background: #E0E0E0;
}

.footer__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.footer__card-link {
  margin: 0px 146px 0px 0px;
  font-weight: normal;
  font-size: 19px;
  line-height: 26px;
  color: #000000;
}

.footer__card-link-item {
  display: block;
  color: #000000;
  margin: 0px 0px 22px 0px;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}

.footer__card-link-item:last-child {
  margin: 0px 0px 0px 0px;
}

.footer__card-address {
  display: block;
  margin-left: auto;
}

.footer__card-address address {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
}

.footer__card-pho {
  display: inline-block;
  font-weight: 300;
}

.footer__card-phone {
  display: inline-block;
  font-weight: 300;
  color: #000000;
}

.footer__card-czas {
  font-weight: 300;
}

.footer__social-wrapper {
  margin: 42px 0px 0px 0px;
}

.footer__social-link {
  margin: 0px 24px 0px 0px;
}

.footer__social-link:last-child {
  margin: 0px 0px 0px 0px;
}

.footer__social-image {
  width: 33px;
  height: 33px;
}

.footer__statusnaprawy {
  display: block;
  margin: 42px 0px 0px 0px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #157DFB;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}

.modal__covid {
  display: none;
}

.modal__covid-link {
  cursor: pointer;
}

.modal__covid-active {
  display: block;
  position: fixed;
  width: 470px;
  height: 370px;
  left: -webkit-calc(50% - 470px/2 - 1.5px);
  left: calc(50% - 470px/2 - 1.5px);
  top: -webkit-calc(50% - 370px/2 - 10px);
  top: calc(50% - 370px/2 - 10px);
  background: #FFFFFF;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  z-index: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal__covid-image {
  margin: 0px 0px 32px 0px;
  width: 34px;
  height: 44px;
}

.modal__covid-title {
  margin: 0px 0px 12px 0px;
}

.modal__covid-desctiption {
  text-align: center;
  max-width: 343px;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}

.modal__about {
  display: none;
}

.modal__about-link {
  cursor: pointer;
}

.modal__about-active {
  display: block;
  position: fixed;
  width: 470px;
  height: 370px;
  left: -webkit-calc(50% - 470px/2 - 1.5px);
  left: calc(50% - 470px/2 - 1.5px);
  bottom: -webkit-calc(50% - 370px/2 - 10px);
  bottom: calc(50% - 370px/2 - 10px);
  background: #FFFFFF;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  z-index: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal__about-image {
  margin: 0px 0px 32px 0px;
  width: 60px;
  height: 44px;
}

.modal__about-title {
  margin: 0px 0px 12px 0px;
}

.modal__about-desctiption {
  text-align: center;
  max-width: 343px;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}

.modal__feedback {
  display: none;
}

.modal__feedback-active {
  display: block;
  position: fixed;
  width: 470px;
  height: 370px;
  left: -webkit-calc(50% - 470px/2 - 1.5px);
  left: calc(50% - 470px/2 - 1.5px);
  bottom: -webkit-calc(50% - 370px/2 - 10px);
  bottom: calc(50% - 370px/2 - 10px);
  background: #FFFFFF;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  z-index: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal__feedback-image svg {
  margin: 0px 0px 32px 0px;
}

.modal__feedback-title {
  margin: 0px 0px 12px 0px;
}

.modal__feedback-desctiption {
  text-align: center;
  max-width: 343px;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}

.scroll {
  display: none;
}

.scroll svg {
  height: 75px;
  width: 75px;
  bottom: 100px;
  left: 47%;
  left: -webkit-calc(50% - 75px/2 - 1.5px);
  left: calc(50% - 75px/2 - 1.5px);
  cursor: pointer;
  position: fixed;
  z-index: 1;
}
