.header {
  width: 100%;
  background-color: #333333;
  position: fixed;
  z-index: 8;

  &__wrapper {
    display: flex;
    height: 56px;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    a {
      img {
        width: 58px;
        height: 35px;
      }
    }
  }

  &__nav-link {
    color: #ffffff;
    margin: 0px 50px 0px 0px;

    &:last-child {
      margin: 0px 0px 0px 0px;
    }

  }

  &__phone-link {
    color: #ffffff;
  }
}