.header {
  width: 100%;
  background-color: #333333;
  position: fixed;
  z-index: 8;

  &__wrapper {
    display: flex;
    height: 56px;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    a {
      img {
        width: 58px;
        height: 35px;
      }
    }
  }

  &__nav-link {
    color: #ffffff;
    margin: 0px 50px 0px 0px;

    &:last-child {
      margin: 0px 0px 0px 0px;
    }

  }

  &__phone-link {
    color: #ffffff;
  }

  .burger__menu {
    display: none;
  }
}

@media only screen and (max-width: 576px) {
  .header {
    width: 100%;
    background-color: #333333;
    position: fixed;
    z-index: 8;

    &__wrapper {
      display: flex;
      height: 56px;
      justify-content: space-between;
      align-items: center;
    }

    &__logo {
      a {
        img {
          width: 58px;
          height: 35px;
        }
      }
    }

    &__nav {
      display: none;
    }

    &__phone {
      display: none;
    }

    .burger {

      &__menu-active {
        z-index: 1000;

        .burger__menu-lines {
          background-color: transparent;
          transition: 0.1s linear;

          &::before {
            top: 0;
            transform: rotate(45deg);
            transition: top 0.1s linear, transform 0.1s ease-in 0.1s;
          }

          &::after {
            top: 0;
            transform: rotate(-45deg);
            transition: top 0.1s linear, transform 0.1s ease-in 0.1s;
          }
        }

        .burger__menu-nav {
          opacity: 1;
          z-index: 20;
          margin: 0 auto;
        }

        .burger__menu-overlay {
          display: block;
        }
      }

      &__menu-button {
        position: relative;
        display: block;
        background-color: transparent;
        top: 0px;
        right: 0px;
        z-index: 30;
        width: 27px;
        height: 21px;
      }

      &__menu-lines,
      &__menu-lines::after,
      &__menu-lines::before {
        position: absolute;
        width: 27px;
        height: 3px;
        background-color: #ffffff;
      }

      &__menu-lines {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: 0.1s linear;
      }

      &__menu-lines::before {
        content: "";
        top: -9px;
        transition: transform 0.1s ease-in, top 0.1s linear 0.1s;
      }

      &__menu-lines::after {
        content: "";
        top: 9px;
        transition: transform 0.1s ease-in, top 0.1s linear 0.1s;
      }

      &__menu {
        display: block;


        &-nav {
          text-align: center;
          margin: 0 auto;
          width: 100%;
          position: absolute;
          top: 0;
          left: 0;
          z-index: -1;
          display: flex;
          flex-direction: column;
          height: 100%;
          background-color: var(--bg-color);
          overflow-y: auto;
          opacity: 0;
          transition: .2s linear;
        }

        &-link {
          font-family: "Manrope";
          font-style: normal;
          font-weight: bold;
          font-size: 44px;
          line-height: 51px;
          color: var(--heading-color);
          margin: 0px 0px 60px 0px;

          &::first-child {}

          &::last-child {
            margin: 0px 0px 0px 0px;

          }

        }

        &-overlay {
          display: none;
          position: fixed;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          z-index: 10;
        }
      }
    }
  }

}