//Covid
.modal {

  &__covid {
    display: none;

    &-link {
      cursor: pointer;
    }
  }

  &__covid-active {
    display: block;
    position: fixed;
    width: 470px;
    height: 370px;
    left: calc(50% - 470px/2 - 1.5px);
    top: calc(50% - 370px/2 - 10px);
    background: #FFFFFF;
    border-radius: 30px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__covid-image {
    margin: 0px 0px 32px 0px;
    width: 34px;
    height: 44px;
  }

  &__covid-title {
    margin: 0px 0px 12px 0px;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
  }

  &__covid-desctiption {
    text-align: center;
    max-width: 343px;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
  }
}

//About
.modal {

  &__about {
    display: none;

    &-link {
      cursor: pointer;
    }
  }

  &__about-active {
    display: block;
    position: fixed;
    width: 470px;
    height: 458px;
    left: calc(50% - 470px/2 - 1.5px);
    bottom: calc(50% - 370px/2 - 10px);
    background: #FFFFFF;
    border-radius: 30px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__about-image {
    margin: 0px 0px 32px 0px;
    width: 60px;
    height: 44px;
  }

  &__about-title {
    margin: 0px 0px 12px 0px;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
  }

  &__about-desctiption {
    text-align: center;
    max-width: 343px;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
  }
}

//Feedback
.modal {

  &__feedback {
    display: none;
  }

  &__feedback-active {
    display: block;
    position: fixed;
    width: 470px;
    height: 370px;
    left: calc(50% - 470px/2 - 1.5px);
    bottom: calc(50% - 370px/2 - 10px);
    background: #FFFFFF;
    border-radius: 30px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__feedback-image {

    svg {
      margin: 0px 0px 32px 0px;
    }
  }

  &__feedback-title {
    margin: 0px 0px 12px 0px;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
  }

  &__feedback-desctiption {
    text-align: center;
    max-width: 343px;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
  }
}

//Aplikuj
.modal {

  &__aplikuj {
    display: none;
  }

  &__aplikuj-active {
    display: block;
    position: fixed;
    width: 532px;
    height: 417px;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 50%);
    background: #FFFFFF;
    border-radius: 30px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__header {
    text-align: center;
  }

  &__aplikuj-title {
    margin: 50px 0px 12px 0px;
    font-weight: 500;
    font-size: 24px;
    line-height: 33px;
  }

  &__aplikuj-desctiption {
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #888888;

  }

  &__form {
    margin: 32px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    input {
      &:nth-child(2n) {
        margin: 0px 0px 0px 0px;
      }
    }
  }

  &__aplikuj-input {
    padding: 17px 0px 17px 15px;
    margin: 0px 0px 18px 0px;
    width: 415px;
    height: 56px;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 13px;
    font-family: Manrope;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    color: #888888;

    &::placeholder {
      font-weight: 300;
      font-size: 16px;
      line-height: 22px;
      color: #888888;
    }
  }

  &__aplikuj-btn {
    margin: 32px auto 0px;
    width: 149px;
    height: 54px;
    color: #FFFFFF;
    background: #157DFB;
    border-radius: 13px;
    cursor: pointer;
  }

}

//Dla firm
.modal {

  &__dla-firm {
    display: none;
  }

  &__dla-firm-active {
    display: block;
    position: fixed;
    width: 532px;
    height: 565px;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 50%);
    background: #FFFFFF;
    border-radius: 30px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__close {}

  &__header {
    text-align: center;
  }

  &__dla-firm-title {
    margin: 50px 0px 12px 0px;
    font-weight: 500;
    font-size: 24px;
    line-height: 33px;
  }

  &__dla-firm-desctiption {
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #888888;
  }

  &__form-firm {
    margin: 32px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    input {
      &:nth-child(4n) {
        margin: 0px 0px 0px 0px;
      }
    }
  }

  &__dla-firm-input {
    padding: 17px 0px 17px 15px;
    margin: 0px 0px 18px 0px;
    width: 415px;
    height: 56px;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 13px;
    font-family: Manrope;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    color: #888888;

    &::placeholder {
      font-weight: 300;
      font-size: 16px;
      line-height: 22px;
      color: #888888;
    }
  }

  &__dla-firm-btn {
    margin: 32px auto 50px;
    width: 149px;
    height: 54px;
    color: #FFFFFF;
    background: #157DFB;
    border-radius: 13px;
    cursor: pointer;
  }
}


@media only screen and (max-width: 576px) {
  .modal {

    &__covid {
      display: none;

      &-link {
        cursor: pointer;
      }
    }

    &__covid-active {
      display: block;
      position: fixed;
      width: 290px;
      height: 310px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background: #FFFFFF;
      border-radius: 30px;
      z-index: 10;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    &__covid-image {
      margin: 0px 0px 32px 0px;
      width: 34px;
      height: 44px;
    }

    &__covid-title {
      margin: 0px 0px 12px 0px;
      font-weight: 500;
      font-size: 16px;
      line-height: 22px;
    }

    &__covid-desctiption {
      text-align: center;
      max-width: 261px;
      font-weight: 300;
      font-size: 16px;
      line-height: 24px;
    }
  }

  .modal {

    &__about {
      display: none;

      &-link {
        cursor: pointer;
      }
    }

    &__about-active {
      display: block;
      position: fixed;
      width: 290px;
      height: 406px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background: #FFFFFF;
      border-radius: 30px;
      z-index: 10;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    &__about-image {
      margin: 0px 0px 32px 0px;
      width: 60px;
      height: 44px;
    }

    &__about-title {
      margin: 0px 0px 12px 0px;
      font-weight: 500;
      font-size: 16px;
      line-height: 22px;
    }

    &__about-desctiption {
      text-align: center;
      max-width: 260px;
      font-weight: 300;
      font-size: 16px;
      line-height: 24px;
    }
  }

  .modal {

    &__feedback {
      display: none;
    }

    &__feedback-active {
      display: block;
      position: fixed;
      width: 290px;
      height: 310px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background: #FFFFFF;
      border-radius: 30px;
      z-index: 10;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    &__feedback-image {

      svg {
        margin: 0px 0px 32px 0px;
      }
    }

    &__feedback-title {
      margin: 0px 0px 12px 0px;
      font-weight: 500;
      font-size: 16px;
      line-height: 22px;
    }

    &__feedback-desctiption {
      text-align: center;
      max-width: 260px;
      font-weight: 300;
      font-size: 16px;
      line-height: 24px;
    }
  }

  .modal {

    &__aplikuj {
      display: none;
    }

    &__aplikuj-active {
      display: block;
      position: fixed;
      width: 290px;
      height: 409px;
      left: 50%;
      bottom: 50%;
      transform: translate(-50%, 50%);
      background: #FFFFFF;
      border-radius: 30px;
      z-index: 10;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    &__header {
      text-align: center;
    }

    &__aplikuj-title {
      margin: 40px 0px 12px 0px;
      font-weight: 500;
      font-size: 24px;
      line-height: 33px;
    }

    &__aplikuj-desctiption {
      font-weight: 300;
      font-size: 16px;
      line-height: 24px;
      color: #888888;

    }

    &__form {
      margin: 22px 0px 0px 0px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      input {
        &:nth-child(2n) {
          margin: 0px 0px 0px 0px;
        }
      }
    }

    &__aplikuj-input {
      padding: 17px 0px 17px 15px;
      margin: 0px 0px 10px 0px;
      width: 260px;
      height: 44px;
      border: 1px solid #C4C4C4;
      box-sizing: border-box;
      border-radius: 13px;
      font-family: Manrope;
      font-weight: 300;
      font-size: 16px;
      line-height: 22px;
      color: #888888;

      &::placeholder {
        font-weight: 300;
        font-size: 16px;
        line-height: 22px;
        color: #888888;
      }
    }

    &__aplikuj-btn {
      margin: 32px auto 0px;
      width: 149px;
      height: 54px;
      color: #FFFFFF;
      background: #157DFB;
      border-radius: 13px;
      cursor: pointer;
    }

  }

  //Dla firm
  .modal {

    &__dla-firm {
      display: none;
    }

    &__dla-firm-active {
      display: block;
      position: fixed;
      width: 290px;
      height: 409px;
      left: 50%;
      bottom: 50%;
      transform: translate(-50%, 50%);
      background: #FFFFFF;
      border-radius: 30px;
      z-index: 10;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    &__close {}

    &__header {
      text-align: center;
    }

    &__dla-firm-title {
      margin: 18px 0px 12px 0px;
      font-weight: 500;
      font-size: 24px;
      line-height: 33px;
    }

    &__dla-firm-desctiption {
      font-weight: 300;
      font-size: 16px;
      line-height: 24px;
      color: #888888;
    }

    &__form-firm {
      margin: 22px 0px 0px 0px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      input {
        &:nth-child(4n) {
          margin: 0px 0px 0px 0px;
        }
      }
    }

    &__dla-firm-input {
      padding: 17px 0px 17px 15px;
      margin: 0px 0px 10px 0px;
      width: 260px;
      height: 44px;
      border: 1px solid #C4C4C4;
      box-sizing: border-box;
      border-radius: 13px;
      font-family: Manrope;
      font-weight: 300;
      font-size: 16px;
      line-height: 22px;
      color: #888888;

      &::placeholder {
        font-weight: 300;
        font-size: 16px;
        line-height: 22px;
        color: #888888;
      }
    }

    &__dla-firm-btn {
      margin: 22px auto 18px;
      width: 149px;
      height: 54px;
      color: #FFFFFF;
      background: #157DFB;
      border-radius: 13px;
      cursor: pointer;
    }
  }
}