.naprawa {

  &__iphone {
    background-color: #F4F4F4;
  }

  &__iphone-title {
    display: block;
    padding: 54px 0px 54px 0px;
    font-weight: normal;
    font-size: 35px;
    line-height: 48px;
  }

  &__iphone-wrapper {
    display: flex;
    justify-content: start;
  }

  &__iphone-description {
    padding: 0px 0px 294px 0px;
    max-width: 431px;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    color: #888888;
  }

  &__iphone-card {
    margin: 0px 90px 0px 0px;

    ul li {
      display: flex;
      align-items: center;
      margin: 0px 0px 18px 0px;

      &:last-child {
        margin: 0px 0px 82px 0px;
      }

      svg {
        margin: 0px 12px 0px 0px;
      }

      a {
        color: #157DFB;
      }
    }

    &:last-child {
      margin: 0px 0px 0px 0px;
    }
  }

  &__iphone-image {
    position: absolute;
    height: 88%;
    right: 0;
    overflow: hidden;
    bottom: 0;
    text-align: right;

    img {
      width: 88%;
    }
  }

  &__iphone-padding_bottom {
    padding: 50px 0px 12px 0px;
  }
}

@media only screen and (max-width: 576px) {
  .naprawa {

    &__iphone {
      margin: 56px 0px 0px 0px;
      background-color: #F4F4F4;
    }

    &__iphone-title {
      padding: 32px 0px 46px 0px;
      text-align: center;
      display: block;
      font-weight: normal;
      font-size: 24px;
      line-height: 29px;
    }

    &__iphone-wrapper {
      padding: 0px 0px 24px 0px;
      display: flex;
      flex-direction: column;
    }

    &__iphone-description {
      padding: 0px 0px 294px 0px;
      max-width: 90%;
      font-weight: 300;
      font-size: 16px;
      line-height: 22px;
      color: #888888;
    }

    &__iphone-card {
      margin: 0px 0px 0px 0px;

      ul li {
        display: flex;
        align-items: center;
        margin: 0px 0px 18px 0px;

        &:last-child {
          margin: 0px 0px 18px 0px;
        }

        svg {
          margin: 0px 12px 0px 0px;
        }

        a {
          color: #157DFB;
        }
      }

      &:last-child {
        margin: 0px 0px 0px 0px;
      }
    }

    &__iphone-image {
      display: none;
    }

    &__iphone-padding_bottom {
      padding: 50px 0px 12px 0px;
    }
  }
}