.naprawaipad {
  margin: 100px 0px 0px 0px;
  text-align: center;

  &__card-wrapper {
    max-width: 1204px;
    margin: 82px auto 0px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 120px;
    grid-row-gap: 94px;
    align-items: end;
  }

  &__title {
    margin: 0px 0px 12px 0px;
    font-weight: normal;
    font-size: 35px;
    line-height: 48px;
  }

  &__subtitle {
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #888888;
  }

  &_card:hover &__name {
    text-decoration: underline;
  }

  &__img {}

  &__name {
    margin: 32px 0px 0px 0px;
    color: #000000;
  }

}