.scroll {
  display: none;

  svg {
    height: 75px;
    width: 75px;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    position: fixed;
    z-index: 1;

    line {
      stroke: #C4C4C4;
    }
  }
}

@media only screen and (max-width: 576px) {
  .scroll {
    display: none;

    svg {
      height: 55px;
      width: 55px;
      bottom: 52px;
      left: 50%;
      transform: translateX(-50%);
      cursor: pointer;
      position: fixed;
      z-index: 1;

    }
  }
}