.container {
  max-width: 1646px;
  width: 100%;
  margin: 0 auto;
}

.overlay {
  display: block;
  position: fixed;
  z-index: 9;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #333333;
  transition: all .2s ease;
  opacity: 0;
  pointer-events: none;
}

.overlay.active {
  opacity: 0.8;
  pointer-events: all;
}


.pr {
  position: relative;
}

.disabled {
  img {
    filter: grayscale(100%);
  }
}

@media only screen and (max-width: 1440px) {
  .container {
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 576px) {
  .container {
    max-width: 90%;
    width: 100%;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 576px) {
  .map {
    iframe {
      height: 455px !important;
    }
  }
}


@import "normal";
@import "header";
@import "intro";
@import "breadcrumb";
@import "naprawa";
@import "naprawaiphone";
@import "naprawaipad";
@import "naprawamacbook";
@import "device";
@import "feedback";
@import "map";
@import "footer";
@import "modal";
@import "scroll";
@import "kosztnaprawy";